/* Sticky footer styles
http://getbootstrap.com/docs/3.3/examples/sticky-footer/
https://getbootstrap.com/docs/3.3/examples/navbar-fixed-top/
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-top: 60px;
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  background-color: #7c8291;
  background-image: url("../images/background3small.jpg");
  /*background-image: url("../images/background3.jpg");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-bar {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #2d2746;
}

.logo {
  height: 60px;
  margin-right: 20px;
}

.navbar a, .navbar-nav > li > a {
  line-height: 30px;
  text-decoration: none;
  color: #ffc601;
  /*font-weight: bold;*/
}

#navbar > .navbar-nav > li > a {
  color: #e0d5ae;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #e0d5ae;
}
.brand-name {
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.container .text-muted {
  margin: 20px 0;
}
.main-box {
  max-width: 680px;
  background-color: rgba(255,250,250,.5);
  border: 3px solid rgba(240, 240, 255, 1);
  border-radius: 50px;
  text-align: center;
  margin-top: 100px;
  color: #2d2746;
}
.place-box {
  background-color: rgba(255,250,250,.5);
  margin-top: 100px;
  color: #2d2746;
}

.slidecontainer {
  margin: 30px 5px;
}

/*Slider: https://github.com/seiyria/bootstrap-slider*/
#ex1Slider .slider-selection {
	/*background: #BABABA;*/
}
.slider.slider-horizontal {
    width: 400px;
    height: 20px;
}

.find-button {
  margin-top: 20px;
}

/* Contact form
https://codepen.io/jaycbrf/pen/iBszr
*/
#success_message{ display: none;}
/*
.with-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}*/
legend {
  text-align: center;
}

.with-blur {
  -webkit-backdrop-filter: blur(5px); // Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+
  backdrop-filter: blur(5px); // No one supports non prefixed yet
}
.well {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  min-height: 20px;
  padding: 19px;
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: rgba(255,250,250,.5);
  border: 3px solid rgba(240, 240, 255, 1);
  border-radius: 50px;
  color: #2d2746;
  z-index: 1;

    /*background-color: rgba(245, 245, 245, .7);
    border: 2px solid #e3e3e3;
    border-radius: 15px;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05); */
}

/* End contact form
https://codepen.io/jaycbrf/pen/iBszr
*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*background-color: #f5f5f5;*/
  /*color: #e3edf3;*/
  height: 35px;
  background-color: #2e3b5282;
  color: #d0dff982;
  text-align: center;
  padding-top: 6px;
  border-top: 1px solid #2d2d4a8c;
}
.footer p {
  margin: 0;
}
.footer a {
  color: #c6daea;
}

.carousel-inner {
  max-height: 200px;
}

#carouselExample {
  margin-top: 20px;
}
.d-block {
  max-width: 270px;
}

.list-group, .bhoechie-tab-content {
  border-radius: 20px;
  border: 3px solid rgba(240, 240, 255, 1);
}

#first-on-list {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#last-on-list {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.place_title {
  color: #ffc601;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  margin-top: 30px;
}

/*   ABOUT PAGE   */
.about-box {
  max-width: 680px;
  background-color: rgba(255,250,250,.5);
  border: 3px solid rgba(240, 240, 255, 1);
  border-radius: 50px;
  margin-top: 100px;
  color: #2d2746;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
  margin-bottom: 50px;
}

.about p {
  padding-top: 20px;
  font-size: 15px;
}

.about a {
  color: darkblue;
}
